/* Google Font: Poppins 400, 500, 600, 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*----------------------------
	Screen Readers Only
----------------------------*/
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-image: url("../images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%) ;
}
    .page-wrapper {
        min-height: 100vh;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
        .copy-column {
            width: 100%;
            height: auto;
            padding-left: 150px;
            margin-right: 30px;
        }
            .headline {
                color: white;
                font-weight: 700;
                font-size: 3.06rem;
                line-height: 55px;
            }
            .paragraph {
                max-width: 500px;
                margin-top: 30px;

                color: white;
                font-weight: 400;
            }
        .form-column {
            width: 100%;
            max-width: 600px;
            height: auto;

            padding-right: 150px;
        }
            .blue-banner-container {
                background-color: hsl(248, 32%, 49%);
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

                max-width: 600px;
                min-height: 50px;

                margin-bottom: 20px;

                display: flex;
                justify-content: center;
                align-items: center;

                text-align: center;
                font-size: 14px;
            }
                .blue-banner-text {
                    color: white;
                    font-weight: 400;
                }
                .blue-banner-text span {
                    font-weight: 600;
                }
            .form-container {
                background-color: white;
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                
                width: 100%;
                max-width: 600px;
                padding: 30px 30px 30px 30px;

                display: flex;
                flex-direction: column;
                align-content: center;
            }
                form {
                    width: 100%;
                    max-width: 450px;

                    display: flex;
                    flex-direction: column;
                    gap: 18px 0px;
                    
                    outline: none;

                    position: relative;
                }
                .input-container {
                    width: 100%;
                    position: relative;
                    margin-bottom: 0px
                }
                .input-container.active {
                    margin-bottom: 20px;
                }
                    input {
                        width: 100%;
                        /* max-width: 400px; */
                        height: 100%;

                        border: 1px solid hsl(246, 25%, 77%);
                        border-radius: 5px;
                    
                        padding-left: 20px;
                        padding-top: 15px;
                        padding-bottom: 15px;

                        display: inline-block;
                    }
                        input::placeholder {
                            font-size: 12px;
                            font-weight: 500;
                            font-family: 'Poppins', sans-serif;
                        }
                        input:focus {
                            font-weight: 600;
                        }
                        .firstName.active:focus {
                            color: transparent;
                        }
                    .error-icon {
                        position: absolute;
                        bottom: 14px;
                        right: 20px;
                        width: 20px;
                        height: 20px;
                        display: none;
                    }
                    .error-icon.active{
                        display: inline-block;
                    }
                    input.active {
                        border: 1px solid hsl(0, 100%, 74%);
                    }
                    
                    .error-text {
                        margin: 0;
                        padding: 0;
                        position: absolute;
                        text-align: right;
                        color: hsl(0, 100%, 74%);
                        font-style: italic;
                        font-size: 10px;
                        right: 2px;
                        bottom: -20px;
                        display: none;
                    }
                    .error-text.active {
                        display: inline-block;
                    }
                    button {
                        max-width: 400px;
                        cursor: pointer;
                        outline: none;
                        border: 1px solid hsl(154, 57%, 42%);
                        background-color: hsl(154, 59%, 51%);
                        border-radius: 5px;

                        height: 45px;

                        font-weight: 500;
                        font-family: 'Poppins', sans-serif;
                        text-transform: uppercase;
                        letter-spacing: 0.05rem;
                        color: white;

                        margin-bottom: 10px;
                    }
                    button:hover {
                        background-color: hsl(154, 53%, 61%);
                        border: none;
                    }
            .terms {
                font-size: 10px;
                color: hsl(246, 25%, 77%);
                text-align: center;

            }
            .terms span {
                font-weight: 600;
                color: hsl(0, 100%, 74%) ;
                cursor: pointer;
            }
    footer {
        margin: 0px 0px 20px 0px;
    }

/* MOBILE VIEW */
@media screen and (max-width: 1000px) {
body {
    background-image: url("../images/bg-intro-mobile.png");
}
    .page-wrapper {
        flex-direction: column;
        padding-right: 30px;
        padding-left: 30px;
        margin-bottom: 20px;
    }
        .copy-column {
            width: 100%;
            height: auto;
            
            padding: 0px;
            margin: 0px;
            margin-top: 100px;
            margin-bottom: 50px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .headline {
                font-size: 2rem;
                line-height: 40px;
                text-align: center;
            }
            .paragraph {
                max-width: 350px;
                margin-top: 30px;

                color: white;
                font-weight: 400;
                text-align: center;
            }
        .form-column {
            width: 100%;
            max-width: 600px;
            height: auto;

            padding: 0px;
        }
            .blue-banner-container {

                max-width: 600px;
                min-height: 50px;
                padding: 20px 70px 20px 70px;
                margin-bottom: 20px;
            }
            .form-container {
                align-items: center;
                padding: 30px 30px 30px 30px;
            }
            button {
                max-width: 100%;
                margin-bottom: 10px;
            }
                
}
