/* Google Font: Poppins 400, 500, 600, 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*----------------------------
	Screen Readers Only
----------------------------*/
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
    .page-wrapper {
        background-image: url("../images/bg-intro-desktop.png");
        min-height: 100vh;
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-repeat: no-repeat;
        background-color: hsl(0, 100%, 74%) ;
    }
        .copy-column {
            width: 100%;
            height: auto;
            padding-left: 150px;
        }
            .headline {
                color: white;
                font-weight: 700;
                font-size: 3.06rem;
                line-height: 55px;
            }
            .paragraph {
                max-width: 500px;
                color: white;
                font-weight: 400;
                margin-top: 30px;
            }
        .form-column {
            width: 100%;
            height: auto;
        }
            .blue-banner-container {
                background-color: hsl(248, 32%, 49%);
                border-radius: 10px;

                max-width: 500px;
                height: 50px;

                display: flex;
                justify-content: center;
                align-items: center;
            }
                .blue-banner-text {
                    color: white;
                    font-weight: 400;
                }
                .blue-banner-text span {
                    font-weight: 600;
                }